* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: solid 1px red;
}

.navbar {
    background-color: #3afaa0;
    padding: 15px 40px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, margin-left 0.5s ease;
}

.logo a:hover {
    transform: scale(1.1);
    margin-left: 20px;
}

.logo i {
    margin-right: 8px;
    font-size: 28px;
    color: #fff;
}

.nav-links {
    /* Flex */
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

/* Efecto hover */
.nav-links a:hover {
    background-color: #fff;
    color: #3afaa0;
    transform: scale(1.05);
}

.idiomas {
    display: flex;
    gap: 10px;
}

.idiomas a {
    text-decoration: none;
    transition: transform 0.3s ease;
    border-radius: 5px 5px;
}

.idiomas a:hover {
    transform: scale(1.1);
}

.idiomas img {
    width: 35px;
    height: 20px;
}

.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.problematica {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cuadro img {
    width: 300px;
    height: 200px;
}

.logotipo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.perfiles img {
    width: 200px;
    height: 200px;
    border-radius: 5px 5px;
    transition: transform 0.3s ease;
}

.perfiles img:hover {
    transform: scale(1.02);
}

.paneles img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3afaa0;
    outline: solid 2px white;
}